<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Skills </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">

    <ion-item>

      <ion-icon name="star" slot="start"></ion-icon>

      <ion-label>

        <div *ngFor="let item of mySkill">

          <ion-text color="primary">{{item.theme}}</ion-text>
   
          <p>
            <ion-chip color="success">{{item.tech1}}</ion-chip>
            <ion-chip color="success">{{item.tech2}}</ion-chip>
          </p> 

        </div>

      </ion-label>

    </ion-item>

  </ion-list>
  
</ion-content>
