<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header> 
      <div>
        <p>{{phoneInfo}}</p>
        <p>{{battInfo}}</p>
      </div>
      <img alt="userPhoto" src={{userPhoto}} />
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>{{ name }}</ion-card-title>
      <ion-card-subtitle> {{subtitle}} </ion-card-subtitle>
       
    </ion-card-content>
  </ion-card>
  

</ion-content>
